# Output
src/iterate.dat
src/debug.ctl
*.pickle
*.so
*.o

# Auxilary scripts
src/experiments.sh

# Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

# Intermediate documents
*.dvi
*-converted-to.*
*.ps
*.eps
*.pdf

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Python
*.pyc
.ipynb_checkpoints

# Large datasets
src/data/KEMAR
src/data/CIPIC
